<div class="container">
  <h1>Create new Cocktail</h1>
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.submit "Add Cocktail", :class => "btn btn-primary"  %>
  <% end %>
</div>
