<div class="footer">
  <div class="text-one">
    <a href="#"><i class="fab fa-twitter-square"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="https://github.com/rocionadal" target="_blank"><i class="fab fa-github-square"></i></a>
  </div>
  <div class="text-two">
    <a href="">Privacy</a>
    <p>-</p>
    <a href="">Conditions</a>
    <p>-</p>
    <a href="">Map of the Site</a>
    <p>-</p>
    <a href="">Business data</a>
  </div>
  <p class="text-three">© 2020 MansionsBnB, Inc. All rights reserved</p>
</div>
