<nav class="navbar justify-content-between">
  <a class="navbar-brand"><i class="fas fa-cocktail px-3"></i>Cocktails</a>
  <%= link_to 'Add a Cocktail', new_cocktail_path, :class => "btn btn-navbar"%>
</nav>
