<nav class="navbar justify-content-between">
  <%= link_to '<i class="fas fa-cocktail px-3"></i> Cocktails'.html_safe, root_path, :class => "navbar-brand"%>
  <%= link_to 'Add a Cocktail', new_cocktail_path, :class => "btn btn-navbar"%>
</nav>
