.btn-navbar {
  background-color: black;
  border-color: white;
  border-radius: 4px;
  color: white;
  &:hover {
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 4px;
  }
}


.btn-grey {
  color: white;
  background-color: rgb(25, 25, 25);
  border-color: white;
  border-radius: 4px;
  &:hover {
    background-color: white;
    color: rgb(25, 25, 25);
    border-color: white;
    border-radius: 4px;
  }
}

