.footer {
  background-color: black;
  text-align: center;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 100%;
  color: white;
}

a > i {
  color: white;
  &:hover {
    color: rgb(107, 108, 108);
  }
}

.text-one i {
  font-size: 20px;
  padding: 8px;
}


.text-two {
  display: flex;
  justify-content: center;
  p {
    padding: 8px 8px;
    margin-bottom: 0;
  }
}

.text-two > a {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: rgb(107, 108, 108);
    text-decoration: none;
  }
}

.fa-circle {
  font-size: 4px;
}

.text-three {
  padding: 8px 0;
}
