.navbar {
  background-color: black;
  box-shadow: 0 20px 50px black;
  height: 80px;
  text-align: center;
}

// Cocktails link

.navbar-brand {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

// Cocktail icon

.fas.fa-cocktail {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

