.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: black;
  box-shadow: 0 20px 50px black;
  height: 70px;
  text-align: center;
}

.navbar-brand {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.btn-return-index {
  color: white;
  text-decoration: none;
  font-size: 20px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}
