// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cards {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 18rem;
  height: 18rem;
  margin: 8px 8px;
  color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 4px white;
}

.card-title > a{
  color: white;
  &:hover {
    text-decoration: none;
    color: #d32d00;
  }
}

.fa-star {
  color: white;
}

.show-card {
  height: 350px;
  width: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  margin-top: 40px;
}

.cocktail-info {
  background-color: rgb(20, 17, 17);
  padding: 20px;
  color: white;
  margin: 40px 0px;
  border-radius: 4px;
}

.cocktail-info > a {
  color: white;
  text-decoration: none;
  &:hover {
    color: #d32d00;
  }
}

label, h1 {
  color: white;
}

.form {
  margin-top: 40px;
}

.fa-trash {
  color: white;
  padding-left: 6px;
}

.fa-circle {
  font-size: 4px;
  text-align: center;
  padding-right: 4px;
}

.info {
  box-shadow: unset;
  background-color: rgb(20, 17, 17);
  border: none;
}

.last {
  position: absolute;
  bottom: 15px;
}

.reviews {
  background-color: rgb(20, 17, 17);
  padding: 28px;
  color: white;
  border-radius: 4px;
}

