// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cards {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 18rem;
  height: 18rem;
  margin: 8px 8px;
  color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 4px white;
}

.card-title > a{
  color: white;
  &:hover {
    text-decoration: none;
    color: #d32d00;
  }
}

.fa-star {
  color: white;
}
